html,
body {
  height: 100%;
}
.navbar {
  background-color: #ffffff;
}
.page {
  height: 100vh;
  background-image: url('https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;

  .mask {
    height: 100vh;
  }
  &__title {
    font-size: 2rem;
    color: #ffffff;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__note {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #ffffff;
    
    a {
      color: #ffffff;
      font-weight: bold;
    }
  }
}
.card {
  position: relative;
  overflow: hidden;

  video {
    width: 100%;
    border-radius: 4px;
  }
  .scanning::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    border: 1px solid #ffffff;
    transform: translate(-50%, -50%);
    z-index: 200;
  }
  .scanning::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8));
    animation: scanning 3s linear infinite;
  }
  
  @keyframes scanning {
      100% { top: 100%; }
  }
}